h1{
    position: absolute;
    width: 997px;
    height: 50px;
    left: 222px;
    top: 425px;

    font-family: iCiel Brawls;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #D23333;
}